@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e2f, #0f0f1f);
  color: #fff;
  overflow: hidden;
}

.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  font-size: 15px;
  color: rgba(255,255,255,0.7);
  margin-bottom: 30px;
}

.container {
  width: 100%;
  max-width: 420px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  padding: 50px 35px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.4);
}

.welcome {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 35px;
  background: linear-gradient(90deg, #8e2de2, #4a00e0);
  /* -webkit-background-clip: text;  */
  -webkit-text-fill-color: transparent;
  text-align: center;
  color: white;
}

.login-box {
  width: 100%;
}

.login-box input {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.login-box input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.login-box input:focus {
  background: rgba(255, 255, 255, 0.1);
  border-color: #8e2de2;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
 
}

.remember input {
  width: 18px;
  height: 18px;
  accent-color: #8e2de2;
}

.check{
  margin-top: 20px;
}

.forgot {
  color: #8e2de2;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.forgot:hover {
  color: #4a00e0;
}

.login-btn {
  display: inline-block;
  width: 100%;
  padding: 16px;
  text-align: center;
  border-radius: 18px;
  background: linear-gradient(135deg, #7b2cff, #4a00e0);
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
}

.login-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.create-btn{
  width: 100%;
  padding: 14px;
  background: white;
  border-radius: 18px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  color: #7b2cff;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.google-btn {
  width: 100%;
  padding: 14px;
  background: white;
  border-radius: 18px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  color: #7b2cff;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.google-btn img {
  width: 22px;
  height: 22px;
}

.google-btn:hover {
  background: rgba(255,255,255,0.2);
  transform: translateY(-2px);
}

.signup {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
}

.signup a {
  color: #8e2de2;
  text-decoration: none;
  font-weight: 600;
}

.signup a:hover {
  color: #4a00e0;
}

@media (max-width: 480px) {
  .welcome {
    font-size: 32px;
  }
  .container {
    padding: 40px 25px;
  }
}

