/* PROFILE PAGE */
.profile-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: #f5f5f5;
}



.profile-top {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 110px;
  height: 110px;
    border-radius:12px;
    background: #000000;
  overflow: hidden;
  margin: auto;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email {
  color: #bbb;
  font-size: 0.9rem;
}


/* SETTINGS CARD */
.settings-card {
  background: rgba(255, 255, 255, 0.78);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 30px;
  color: #000000;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #333;
}

.setting-item:last-child {
  border-bottom: none;
}

.arrow {
  font-size: 25px;
  color: #000000;
}


/* TOGGLE SWITCH */
.toggle-switch {
  position: relative;
  width: 38px;
  height: 20px;
  display: inline-block;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #444;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.toggle-switch input:checked + .slider {
  background: #6c3bff;
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(18px);
}


/* ABOUT SECTION */
.about-card {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  color: #f5f5f5;
}

.version {
  color: #999;
  font-size: 0.85rem;
  margin-top: 5px;
}