* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #1e1e2f, #0f0f1f);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
}

.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
   color: white;

}

.subtitle {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  max-width: 420px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  padding: 50px 35px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.4);
}



.signup-box input {
  width: 100%;
  padding: 18px 20px;
  margin-bottom: 25px;
  background: #2a2a2a;
  border: 2px solid #999;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
}

.signup-box input::placeholder {
  color: #b3b3b3;
}

.create-btn {
  display: inline-block;
  width: 100%;
  padding: 16px;
  text-align: center;
  border-radius: 18px;
  background: linear-gradient(135deg, #7b2cff, #4a00e0);
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
}

.create-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}


.google-btn {
  width: 100%;
  padding: 16px;
  background: #fff;
  border-radius: 16px;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  margin-top: 13px;
}

.google-btn img {
  width: 20px;
  height: 20px;
}




@media (max-width: 480px) {
  .title {
    font-size: 36px;
    text-align: left;
  }
}